%p
  Your review #{review_number(@review, @submission)} for #{@review.development_branch} on #{@review.project.name} has been approved.
%p
  Go here to close the the review.
= link_to "Reviews", reviews_url
