%p
  A comment has been added to your review #{review_number(@review, @submission)} by #{@comment.user.name}
%p
  = @comment.comment

= link_to "Comments", review_review_submission_url(@comment.review_submission.review)
