%p
  A Code review has been resubmitted for
  = @submission.project.name
  by
  = @submission.review.submitter.name
%p
  Your vote has been reset to 'No Opinion'. Please review the code and approve or comment on it.

= link_to "Review", review_review_submission_url(@submission.review)
